<% layout('layouts/boilerplate') %>

<h1>キャンプ場一覧</h1>

<!-- キャンプ場一覧の表示 -->
<% for(let camp of campGroundsAll) { %>
  <div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
         <% if(camp.images && camp.images.length>0 ){ %>

          <img class="img-fluid" src="<%= camp.images[0].url %>" alt="">
          <% }else{%>
            <p>画像なし</p>
         <% }%>


        </div>

      <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
                <%= camp.title %>
            </h5>
            <p class="card-text"><%= camp.description %></p>
            <p class="card-text">
              <small class="text-muted">
                  <%= camp.location %>
              </small>
            </div>
            <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>"><%= camp.title %>の詳細 </a>
      </div>
    </div>
  </div>
  <% } %>
  

