<% layout('layouts/boilerplate') %>
<!-- cssの読み込み -->
<link rel="stylesheet" href="/css/stars.css">

<!-- グリッド　col-6 = 12分割のうち 6列分の幅 offset-3 = 左側に 3列分の空白を追加 -->
<!-- キャンプ場一覧の表示 Card Kitchen sink-->
<div class="row">
<div class="col-6">
    <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% campGround.images.forEach((img,i) => {%>
    <div class="carousel-item <% if(i==0){%> active<%}%>">
        <img src="<%= img.url %>" class="d-block w-100" alt="...">
    </div>
    <% }); %>
   
  </div>
  <% if(campGround.images.length > 1){%>
  <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
   <% }; %>
</div>
    <div class="card mb-3" >
        <!-- <% for(img of campGround.images){ %>
        <img src="<%= img.url %>" class="card-img-top" alt="...">
        <% } %> -->
        <div class="card-body">
            <h5 class="card-title"><%= campGround.title %></h5>
            <p class="card-text"><%= campGround.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted"><%= campGround.location %></li>
            <li class="list-group-item text-muted">登録者: <%= campGround.author.username %></li>
            <li class="list-group-item"><%= campGround.price %> / 泊</li>
        </ul>
        <!-- mongooseのid比較メソッド -->
        <%if( currentUser && campGround.author.equals(currentUser._id) ){ %>
        <div class="card-body">
            <a class="btn btn-info" href="/campgrounds/<%= campGround._id %>/edit">編集画面</a>
            <!-- d-inline 横並び-->
            <form  class="d-inline" action="/campgrounds/<%= campGround._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit">キャンプ場を削除</button>
            </form>
        </div>
         <%} %></li>
        <div class="card-footer text-muted">

        2 days ago
        </div>
        
        
    </div>
</div>

<div class="col-6">
    <p><%=currentUser%></p>
    <%if(currentUser){ %>
    <h2>レビュー</h2>
        <form action="/campgrounds/<%= campGround._id %>/reviews" method="POST" novalidate class="needs-validation">
            <div >
                <fieldset class="starability-basic">
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" checked/>
                    <label for="first-rate1" title="1">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="2">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="3">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="4">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="5">5 stars</label>
                </fieldset> 
 
            </div>
            <div class="mb-3">
                <!-- Form control -->
                <label class="form-label" for="body">コメント</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            </div>
            <button class="btn btn-success" type="submit">投稿</button>
        </form>
        <%} %>
    <% for(let review of campGround.reviews) { %>
    <div class="card mb-3">
        <div class="card-body">
        <form action="/campgrounds/<%= campGround._id %>/reviews/<%=review._id%>?_method=DELETE" method="POST" >
       
            <h5 class="card-title"><%= review.author.username %></h5>     
            <p class="starability-result" data-rating="<%= review.rating %>">
                    Rated: <%= review.rating %> stars
            </p>
            <!-- <h6 class="card-subtitle mb-2 text-muted"><%= review.author.username %></h6> -->
            <p class="card-text">コメント：<%= review.body %></p>
            <% if( currentUser && campGround.author.equals(currentUser._id) ){  %>
            <button class="btn btn-sm btn-danger" type="submit">削除</button>
             <% } %>
        </form>
        </div>
    </div>
    <% } %>
</div>


</div>

